<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h4 class=" card-title">Stores</h4>
            </div>
            <div class=" col-sm-6 ">
              <div ngbDropdown class="float-right">
                <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
                  <i class=" tim-icons icon-settings-gear-63"> </i>
                </button>
                <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                  <a href="javascript:void(0)" ngbDropdownItem> All </a>
                  <a href="javascript:void(0)" ngbDropdownItem> Aveiro </a>
                  <a href="javascript:void(0)" ngbDropdownItem> Porto </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Joined Date</th>
              <th>Address</th>
              <th>Iban</th>
              <th>Phone Number</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.username }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.joinedAt }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.iban }}</td>
              <td>{{ customer.phoneNumber }}</td>
              <td>{{ customer.typeOfService }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
