<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h4 class=" card-title">Stores</h4>
            </div>
            <div class=" col-sm-6 ">
              <div ngbDropdown class="float-right">
                <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
                  <i class=" tim-icons icon-settings-gear-63"> </i>
                </button>
                <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                  <a href="javascript:void(0)" ngbDropdownItem> All </a>
                  <a href="javascript:void(0)" ngbDropdownItem> Aveiro </a>
                  <a href="javascript:void(0)" ngbDropdownItem> Porto </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
            <tr>
              <th>Name</th>
              <th>City</th>
              <th class=" text-center">Profit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Garrafeira Martins</td>
              <td>Aveiro</td>
              <td class=" text-center">6,738€</td>
            </tr>
            <tr>
              <td>PortoDrinks</td>
              <td>Porto</td>
              <td class=" text-center">3,789€</td>
            </tr>
            <tr>
              <td>Pina</td>
              <td>Aveiro</td>
              <td class=" text-center">6,142€</td>
            </tr>
            <tr>
              <td>Galeria</td>
              <td>Aveiro</td>
              <td class=" text-center">8,735€</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!--<div class=" card card-tasks">
    <div class=" card-header">
      <h6 class=" title d-inline">Tasks</h6>
    </div>
    <div class=" card-body">
      <div class=" table-full-width table-responsive">
        <table class=" table">
          <tbody>
          <tr>
            <td>
              <p class=" title">Insert Products</p>
              <p class=" text-muted">
                30/05 17:32 - Store: Garrafeira Martins wants to add more products.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p class=" title">New Store</p>
              <p class=" text-muted">
                31/05 12:50 - Store: Garrafeira Soares wants to join the DrinkUp business.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p class=" title">Remove Store</p>
              <p class=" text-muted">
                31/05 14:25 - Store: Pina wants to leave the DrinkUp business.
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>-->
</div>
